%h3 Log in

= form_tag(sessions_path, :class => 'row') do
	%fieldset{:class =>"five columns"}
		%legend Log in
		.field
			= text_field_tag :email, params[:email], :placeholder => "Email Address", :class => ""

		.field
			= password_field_tag :password, nil, :placeholder => "Password", :class => ""

		.actions
			= submit_tag 'Log In »', :class => 'small radius success button'
