%tr{:class => "percent_type line"}
	%td= f.text_area :description
	%td{:class => "estimate_percentage"}
		= f.text_field :estimate_percentage, :class => 'line_total'
		%span %
	%td.line_links
		.delete_link= link_to_remove_fields "Delete", f