%p
	%strong Primary contact
	(email address is required):
.field= f.text_field :first_name, :placeholder => "First Name"
.field= f.text_field :last_name, :placeholder => "Last Name"
.field= f.text_field :email, :placeholder => "Email Address"
