%h4= @client.name
= link_to 'Edit Client', edit_client_path(@client)
	
%p
	%strong Address:
	%br
	= render 'client_address'
	
%p
	= link_to 'Create New Estimate', new_estimate_path(:client_id => @client), :class => "nice small radius blue button"