.column
	%h3 
		Never lose a customer to sticker shock again! How would your customers like receiving an estimate for 
		%em $0.00
		?

	%p Introducing, the customer-created estimate:
	%ul
		%li Shorten sales cycles
		%li 100% customizable
		%li Negotiate sales and interact with clients in real time
		%li No more follow-ups
		%li Reduces task confusion
		%li Solves the debate of hourly versus flat-rate pricing
		%li Budget based - allows the client to pay for the work they can afford
			
.sidebar
	= image_tag('calculator.jpg', :class => 'calculator', :width => 288, :height => 293)
	%a.demo(href="#")
		= image_tag('demo.jpg', :width => 287, :height => 255)