.row
	%div{:class => "nine columns centered"}
		.panel
			%h5 We cannot locate your email address
			%p
				We're sorry, we cannot locate your email address in our systems. Please
				=link_to 'sign up', sign_up_path
				for a new account.
