
$lighter-green:			#ebf491;
$light-green:			#C9DF79;
$green: 				#b2bd40;
$dark-green:			#67b21d;
$darker-green:			#0c7f40;

$yellow:				#FFF8D5;
$light-blue:			#a7e0ec;

$pink:					#f4d2bf;

$white:					#ffffff;
$off-white:				#f9f9f9;

$lighter-gray:			#eeefef;
$light-gray: 			#eeeeee;
$dark-gray: 			#dddddd;
$darker-gray:			#cccccc;
$darkest-gray:			#6d6e71;

$lighter-beige:			#F8F2D8;
$light-beige:			#f7f2e5;
$beige:					#dfd9c8;
$dark-beige:			#ccc6b6;

$light-brown:			#cfc6a4;
$brown:					#987b2d;
$dark-brown:			#827a64;
$darker-brown:			#524925;

$light-orange:			#f5e0a9;
$dark-orange:			#cab680;


$body-content-bg:		$light-gray;

$tab-color:				$darkest-gray;
$tab-bg-hover:			$off-white;
$tab-bg-active:			$white;

$header-row: 			$green;
$list-row-hover:		$lighter-green;
$blank-row-bg:			$white;



$line-row: 				$light-gray;
$line-row-hover: 		$dark-gray;
$line-row-border:		$darker-gray;
$line-row-focus:		$yellow;
$line-total-bg:			$darker-gray;
$disable-line-bg:		$off-white;
$disable-line-tx:		$darker-gray;

$action-menu-hover:		$light-blue;
$action-btn-bg:			$lighter-gray;
$action-btn-bg-2:		$darker-gray;
$action-btn-bg-hv:		$dark-gray;
$action-btn-bg-clk:		$dark-gray;
$action-btn-bg-clk-2:	$light-gray;

$negotiate-us-bg:		$light-beige;
$negotiate-us-brdr:		$dark-beige;
$negotiate-us-ttl:		$dark-beige;
$negotiate-us-hv:		$beige;
$negotiate-us-fc:		$pink;
$negotiate-us-tx:		$dark-brown;

$negotiate-them-bg:		$light-orange;
$negotiate-them-brdr:	$dark-orange;
$negotiate-them-ttl:	$dark-orange;
$negotiate-them-tx:		$brown;

$accept-bg-1:			$dark-green;
$accept-bg-2:			$light-green;
$accept-text-1:			$dark-green;
$accept-text-2:			$darker-green;

$notification-clr:		$darker-brown;
$notification-brdr:		$light-brown;
$notification-bg:		$lighter-beige;