// Place all the styles related to the Clients controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body.clients #content {
	table {
		thead {
			margin:0;
			tr{
				th.col {
					background:#b2bd40;
					text-align:center;
				}
				th {
					padding:10px;
				}
			}
		}
	}
	table.client_list {
	}
}