
@import "colorscheme";
@import "interface";
@import "type";
@import "layout";

body.estimates #content {
	table {
		thead {
			tr{
				th.col.lock {
					vertical-align:bottom;
					span {@include bgimage (url("/assets/padlock-icon-header.png") no-repeat, 16px, 11px);}
				}
			}
		}
	}
	h4.estimate-accepted {color:$accept-text-1;}
	table.line_items {
		tr {
			td.collection_cell {
				background:transparent;
				border:none;
				margin:0;
				padding:0;
				table.collection_table {
					background:transparent;
					margin:0;
					border:none;
					width:894px;
					table-layout:fixed;
					border-collapse:collapse;
					margin: 2px 0;
				}
			}
			td.line_ck {
				input{font-size:45px; width:14px; height:14px;}
			}
			td.lock {
				padding:0;
				width:37px;
				input[type=checkbox] {
					display:none;
				}
				input[type=checkbox] + label, .locked {
					@include bgimage (url("/assets/padlock-sprite.png") no-repeat 0% 100%, 17px, 12px);
					margin:0 auto;
				}
				input[type=checkbox]:checked + label, .locked {
					background:url("/assets/padlock-sprite.png") no-repeat 0% 0%;
				}
			}
			td.line_name {width:293px;/*width:315px;*/}
			td.line_price_type {width:89px;}
			td.line_ck {width:40px;}
			td.line_links {
				.add_negotiation_line {display:inline;}
				.accepted {
					font-weight:bold;
					color:$accept-text-1;
				}
			}
			td.accept, td.line_links {
				width:60px;
				.thumbs-up {
					display:none;
					width:auto;
					height:auto;
					input[type=checkbox] {
						display:none;
					}
					input[type=checkbox] + label {
						display:inline-block;
						margin:0;
						@include bgimage (url("/assets/thumbs-up.png") no-repeat, 25px, 20px);
					}
					input[type=checkbox]:checked + label {
						@include bgimage (url("/assets/thumbs-up-active.png") no-repeat, 25px, 20px);
					}
				}
				a.thumbs-down {
					@include bgimage (url("/assets/thumbs-down.png") no-repeat, 25px, 20px);
					display:none;
				}
			}
			td.line_u_price, td.line_t_price {
				width:95px;
			}
		}
		tr.line_collection tr:hover {
			td.accept, td.line_links {
				.thumbs-up {
					display:inline-block;
				}
				a.thumbs-down {
					display:inline-block;
				}
			}
		}
		tr.line_item.edit_false.removed td {
			color:$darker-gray;
			input {
				color:$darker-gray;
				-webkit-text-fill-color:$darker-gray;
			}
		}
		tr.is_enabled_false {
			td {
				background: $disable-line-bg;
				color: $disable-line-tx;
			}
		}
		tr.line_item.accepted_true td {background-color:$accept-bg-2;}
		tr.negotiate_line {
			td {
				background-color:$negotiate-us-bg;
				border:1px solid $negotiate-us-brdr;
				padding:5px;
				textarea {
					height:20px;
					background-color:$negotiate-us-bg;
					margin-right:0px;
					resize:none;
					border:none;
					outline:none;
					-webkit-box-shadow:inset 5px 5px 5px 5px $negotiate-us-bg;
					padding:10px 0 10px 10px;
				}
			}
			td.line_t_price {
				background-color:$negotiate-us-ttl;
				border:1px solid $negotiate-us-ttl;
			}
			td.hover {
				background-color:$negotiate-us-hv;
				textarea, input {
					background-color:$negotiate-us-hv;
					-webkit-box-shadow:inset 5px 5px 5px 5px $negotiate-us-hv;
				}
			}
			td.focus {
				background-color:$negotiate-us-fc;
				textarea, input {
					background-color:$negotiate-us-fc;
					-webkit-box-shadow:inset 5px 5px 5px 5px $negotiate-us-fc;
				}
			}
			td.description {
				color:$negotiate-us-tx;
				.name {
					font-weight:bold;
					padding-bottom:5px;
					font-size:10px;
				}
			}
		}
		tr.negotiate_line.submitted td, tr.negotiate_line.submitted.them td {border:1px solid white;}
		tr.negotiate_line.them {
			td {
				background-color:$negotiate-them-bg;
				border:1px solid $negotiate-them-brdr;
			}
			td.description {color:$negotiate-them-tx;}
			td.line_t_price {background-color:$negotiate-them-ttl;}
		}
		tr.negotiate_line.them.accepted, tr.negotiate_line.them.accepted_true {
			td {
				background:$accept-bg-2;
				color:$darkest-gray;
			}
		}
	}
	.select {
		table.line_items.list {
			border-collapse: collapse;
			border-spacing: 0px;
			thead {
				tr {
					th.line_num {width:83px;}
					th.line_name {width:373px;}
					th.line_price_type {width:auto;}
					th.line_qty {width:114px;}
					th.line_qty {width:83px;}
					th.line_u_price {width:120px;}
					th.line_t_price {width:120px;}
				}
			}
			tr {
				background-color:#fafafa;
				td {
					background-color:#fafafa;
					color:#aaa;
				}
			}
			tr.selected {
				td {
					background-color:#eee;
					border:1px solid #999;
					color:#333;
				}
			}
			tr.hover {
				background-color:#f1f1f1;
				td {
					border:1px solid #999;
					background-color:#f1f1f1;
					color:#333;
				}
			}
			tr.total_line {
				td {
					color:#333;
				}
			}
			tr.total_line.hover {
				td {
					border:none;
				}
			}
			tr.line_collection {
				background:transparent;
				td.collection_cell {
					background-color:transparent;
				}
			}
			tr.line_collection.hover {
				td.collection_cell {
					border:none;
					background-color:transparent;
				}
			}
		}
	}
	.confirm {
		table.line_items {
			border-collapse: collapse;
			border-spacing: 0px;
		}
	}
	.actions {
		.accept-estimate {margin: 0 0 10px 20px;}
	}
	table.doc {
		tr td.line_name {width:405px;}
	}
	.negotiate {
		table.line_items {
			width: 894px;
			table-layout: fixed;
			border-collapse:collapse;
		}
	}
	.estimate-second-step table.line_items {
		thead {
			tr {
				th.col.lock {
					width:33px;
				}

				th.line_ck{width:40px;}
				th.line_num {width:65px;}
				th.line_name {width:293px;}
				th.line_price_type{width:89px;}
				th.line_qty{width:62px;}
				th.line_u_price{width:94px;}
				th.line_t_price{width:95px;}
				th.line_links{width:60px;}

			}
		}
	}
}
