// Place all the styles related to the Estimates controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body.estimates #content {
	h3 {
		font-weight:normal;
	}
	table.line_items {
		thead {
			margin:0;
			tr {
				th.col {
					background:#B2BD40;
				}
				th {
					padding:10px;
				}
			}
		}
		tr {
			td{
				background:#eeeeee;
				height:35px;
				border:1px solid white;
				input {
					background:none;
					border:none;
					font-size:14px;
					font-family:arial;
				}
				input:focus {
					border:none;
					outline:none;
				}
			}
			td.hover {
				background:#dddddd;
				input {
					background:#dddddd;
				}
			}
			td.focus {
				background:#FFF8D5;
				input {
					background:#FFF8D5;
				}
			}
			td.line_ck {
				text-align:center;
			}
			td.line_num {
				width:65px;
				text-align:center;
				input {
					width:55px;
					text-align:center;
				}
			}
			td.line_name {
				width:480px;
				padding:0 10px;
				input {
					width:475px;
				}
			}
			td.line_qty {
				width:70px;
				text-align:center;
				input {
					width:60px;
					text-align:center;
				}
			}
			td.line_u_price {
				width:80px;
				padding:0 10px;
				text-align:right;
				input {
					width:70px;
					text-align:right;
				}
			}
			td.line_t_price {
				width:80px;
				padding:0 10px;
				text-align:right;
			}
			td.line_links {
				width:60px;
				text-align:center;
			}
		}
		tr.edit {
			td {
				border:1px solid #cccccc;
			}
			td.line_t_price {
				background:#cccccc;
			}
			td.line_ck, td.line_links {
				background:white;
				border:none;
			}
		}
		tr.is_enabled_false {
			td {
				background: #f9f9f9;
				color:#cccccc;
				text-decoration:line-through;
			}
		}
		tr.total_line {
			td {
				background:white;
				padding-top:3px;
				font-weight:bold;
			}
			td.total_price {
				text-align:right;
			}
		}
	}
}
