// Place all the styles related to the Estimates controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$green: #b2bd40;
$hover-yellow: #ebf491;
$focus-yellow: #FFF8D5;

body.estimates #content {
	select {display:inline;}
	table {
		thead {
			margin:0;
			tr{
				th.col {
					background:$green;
					text-align:center;
				}
				th {
					padding:10px;
				}
			}
		}
	}
	.client-address {
		line-height:1.3;
		font-size:14px;
	}
	table.estimate.list {
		border-collapse:collapse;
		vertical-align:middle;
		border:none;
		margin-bottom:28px;
		tr {
			td.estimate_number {
				width:100px;
				text-align:center;
			}
			td.client_name {
				width:160px;
			}
			td.estimate_date {
				width:125px;
				text-align:center;
			}
			td.estimate_total {
				width:115px;
				text-align:right;
				padding-right:15px;
			}
			td.estimate_edit {
				width:50px;
				text-align:center;
			}
			td.estimate_delete {
				width:50px;
				text-align:center;
			}
		}
		tr.hover {
			background-color:$hover-yellow;
		}
	}
	table.line_items {
		width:auto;
		vertical-align:middle;
		border:none;
		border-spacing:4px;
		border-collapse:separate;
		thead {
			background:none;
		}
		tr {
			td{
				background:#eeeeee;
				height:35px;
				border:1px solid white;
				vertical-align:middle;
				padding:0;
				input {
					background:none;
					border:none;
					font-size:14px;
					font-family:arial;
				}
				input:focus {
					border:none;
					outline:none;
				}
			}
			td.hover {
				background:#dddddd;
				input {
					background:#dddddd;
				}
			}
			td.focus {
				background:$focus-yellow;
				input {
					background:$focus-yellow;
				}
			}
			td.line_ck {
				text-align:center;
				background:white;
				border:none;
			}
			td.line_num {
				width:65px;
				text-align:center;
				input {
					width:55px;
					text-align:center;
				}
			}
			td.line_name {
				width:480px;
				padding:0 10px;
				input {
					width:475px;
				}
			}
			td.line_qty {
				width:70px;
				text-align:center;
				input {
					width:60px;
					text-align:center;
				}
			}
			td.line_u_price {
				width:80px;
				padding:0 10px;
				text-align:right;
				input {
					width:70px;
					text-align:right;
				}
			}
			td.line_t_price {
				width:80px;
				padding:0 10px;
				text-align:right;
			}
			td.line_links {
				width:60px;
				text-align:center;
			}
		}
		tr.edit {
			td {
				border:1px solid #cccccc;
				padding:0;
			}
			td.line_name {
				padding:0 10px;
			}
			td.line_u_price {
				padding:0 10px;
			}
			td.line_t_price {
				background:#cccccc;
				padding:0 10px;
			}
			td.line_ck, td.line_links {
				background:white;
				border:none;
			}
		}
		tr.negotiate.removed td {
			color:#999999;
		}
		tr.is_enabled_false {
			td {
				background: #f9f9f9;
				color:#cccccc;
				/*text-decoration:line-through;*/
			}
		}
		tr.add_lines {
			td {
				background:white;
				a {
					margin-left:26px;
				}
			}
		}
		tr.total_line {
			td {
				background:white;
				padding-top:3px;
				font-weight:bold;
			}
			td.total_price {
				text-align:right;
			}
		}
	}
	table.estimate_show {
		border-spacing:2px;
		margin-top:25px;
	}
}
