
body.invoice_schedules #content {
	.schedule-table.row {
		position:relative;
		table {
			tbody {
				tr {
					td {
						textarea {
							height:35px;
							resize:none;
						}
					}
					td.estimate_percentage {
						width:115px;
						input {
							display:inline-block;
							width:70px;
						}
						span {
							font-size:16px;
						}
					}
					td.total_percent.alert {
						color:red;
					}
				}
			}
		}
		.warning {
			position:absolute;
			bottom:28px;
			right:17%;
			font-size:14px;
			font-weight:bold;
			color:red;
			display:none;
		}
	}
}