
@import "colorscheme";
@import "interface";
@import "type";
@import "layout";

p {margin: 1em 0;}
p, ul {@include main_font;}
h3 {font-weight:$h3-font-weight; font-size:$h3-font-size;}

a, a:active, a:visited {
	color: $darker-green;
	&:hover {
		text-decoration:none;
		color:white;
		background-color:$darker-green;
	}
}

a.button, a.button:active a.button:visited {color:white;}
a.secondary.button, a.secondary.button:active, a.secondary.button:visited {color:black;}
a.button:hover {background-color:#2284a1;}
a.alert.button:hover {background-color:#970b0e;}
a.success.button:hover {background-color:#457a1a;}
a.secondary.button:hover {background-color:#d0d0d0;}

.date-select select {width:auto;}

table {
	th.col {
		background-color:$header-row;
		text-align:center;
	}
	tbody {
		tr {
			td {
				text-align:center;
				input, input[type="text"] {
					text-align:center;
					width:95%;
				}
				textarea {
					width:95%;
				}
				.delete_link {
					display:inline-block;
					a {
						height:0;
						padding-top:26px;
						overflow:hidden;
						width:26px;
						display:block;
						margin-top:3px;
					}
				}
			}
			td.desc, td.desc input, td.desc textarea, td.desc input[type="text"] {text-align:left;}
			td.amount, td.amount input {text-align:right;}
			td.blank {
				background:$blank-row-bg !important;
				border:none !important;
			}
		}
		tr:hover td .delete_link a {background:url('/assets/delete_icon.png') no-repeat;}
	}
}

.client-address {font-size:$client-address-font-size;}

.checkbox-btn {@include checkbox-btn ();}

table.list {
	margin-bottom:28px;
	padding:0;
	tr.hover {
		background-color:$list-row-hover;
	}
}

table.line_items {
	width:auto;
	vertical-align:middle;
	border:none;
	border-spacing:4px;
	border-collapse:separate;
	thead {
		background:none;
	}
	tbody tr {
		background:white;
		td {
			background:$line-row;
			height:35px;
			border:1px solid white;
			vertical-align:middle;
			padding:0 10px;
			input, input[type="text"], textarea {
				background:none;
				border:none;
				font-size:14px;
				font-family:arial;
				box-shadow:none;
				transition:none;
				-moz-transition:none;
				-webkit-transition:none;
				-o-transition:none;
				border-radius:0;
				margin:0;
				padding:0;
				box-sizing:content-box;
				-moz-box-sizing:content-box;
				-webkit-box-sizing:content-box;
				-o-box-sizing:content-box;
				display:inline;
			}
			input:focus {
				border:none;
				outline:none;
			}
			div {
				font-size:13px;
			}
		}
		td.hover, td.hover input {background:$line-row-hover;}
		td.focus, td.focus input {background:$line-row-focus;}
		td.line_num, td.line_qty {width:65px;/*width:67px;*/}
		td.price_type {text-transform: capitalize;}
		td.line_u_price, td.line_t_price {width:80px;/*width:102px;*/}
		td.line_num, td.price_type, td.line_qty, td.line_links {padding:0;}
	}
	tr.edit_true {
		td {border:1px solid $line-row-border;}
		td.line_t_price {background:$line-total-bg;}
	}
}

table.doc {border-spacing:2px; margin-top:25px;}

.hidden {display:none;}

body {
	@include main_font;
	>* {
		width:1024px;
		margin:0 auto;
	}
	>*:after {
		@include self-clear;
	}
	.notification {
		font-size:$notification-font-size;
		padding:.5em;
		background:$notification-bg;
		border:1px solid $notification-brdr;
		color:$notification-clr;
	}
	#header {
		ul.login_links {
			margin:5px 0 0 0;
			padding:0;
			list-style:none;
			float:right;
			li {
				float:right;
				margin-right:30px;
				font-size:$login-links-font-size;
			}
		}
		ul.login_links:after {
			@include self-clear;
		}
		#logo {
			float: left;
			margin-left: 30px;
			margin-top:15px;
			margin-bottom:21px;
			a {
				@include logo (50);
			}
		}
		.trial {
			@include bgimage (url('/assets/free-trial.gif') no-repeat, 110px, 196px);
			float: right;
			margin-right: 30px;
			margin-top: 5px;
		}
	}
	#content {
		dl.tabs {
			dd {
				a:hover {
					//background-color:$tab-bg-hover;
					//color:$tab-color;
					background-color:white;
					color:#6f6f6f;
					//text-decoration:underline;
					border-bottom:1px solid #E6E6E6;
				}
				a.active:hover {
					background-color:$tab-bg-active;
					border-bottom:none;
				}
			}
			dd.active {
				border-top-color:$green;
			}
		}
		p {font-size:$small;}
	}
	#footer {
		p {
			float:right;
			font-size:$footer-font-size;
			span {
				margin-top: 6px;
				display: block;
				float: left;
			}
			a.logo {
				@include bgimage (url('/assets/26twelve-logo.jpg') no-repeat, 33px, 84px);
				float: right;
				margin-left: 5px;
			}
		}
	}
}

body.site {
	#header {
		ul.login_links {float:none;}
		#logo {
			margin-top:0px;
			@include logo (100);
		}
	}
	#content {
		background: none repeat scroll 0 0 $body-content-bg;
		.column {
			width: 67%;
			float: right;
			h3 {
				width: 90%;
				margin-top:41px;
				margin-bottom:41px;
				font-size:292%;
				line-height:51.2px;
				em {
					color: $green;
					font-style: normal;
					background: white;
					border: 1px black solid;
				}
			}
			p {
				font-weight:bold;
				font-size:$moderate;
			}
			ul {
				font-weight:bold;
				font-size:$normal;
				list-style:disc outside none;
				padding-left:40px;
				li {
					margin-bottom:0;
					font-size:$moderate;
				}
			}
		}
		.sidebar {
			width: 33%;
			float: left;
			img.calculator {
				margin-left: 20px;
				margin-top: 10px;
			}
			a.demo {
				width: 287px;
				display: block;
				height: 255px;
				margin: 10px 0 15px 20px;
			}
		}
	}
}