
@import "colorscheme";
@import "interface";
@import "type";
@import "layout";

p {margin: 1em 0;}
h3 {font-weight:normal;}

a, a:active, a:visited {
	color: $darker-green;
	&:hover {
		text-decoration:none;
		color:white;
		background-color:$darker-green;
	}
}

table {
	th.col {
		background-color:$header-row;
		text-align:center;
	}
	tbody {
		tr {
			td {
				text-align:center;
				input {
					text-align:center;
					width:95%;
				}
				.delete_link {
					display:inline-block;
					a {
						height:0;
						padding-top:26px;
						overflow:hidden;
						width:26px;
						display:block;
						margin-top:3px;
					}
				}
			}
			td.desc {
				text-align:left;
				input {
					text-align:left;
				}
				textarea {
					text-align:left;
				}
			}
			td.amount {
				text-align:right;
				input {
					text-align:right;
				}
			}
			td.blank {
				background:$blank-row-bg !important;
				border:none !important;
			}
		}
		tr:hover td .delete_link a {background:url('/assets/delete_icon.png') no-repeat;}
	}
}

.client-address {
	font-size:$client-address-font-size;
}

.checkbox-btn {
	@include checkbox-btn ();
}

table.list {
	margin-bottom:28px;
	tr.hover {
		background-color:$list-row-hover;
	}
}

table.line_items {
	width:auto;
	vertical-align:middle;
	border:none;
	border-spacing:4px;
	border-collapse:separate;
	thead {
		background:none;
	}
	tbody tr {
		background:white;
		td {
			background:$line-row;
			height:35px;
			border:1px solid white;
			vertical-align:middle;
			padding:0 10px;
			input {
				background:none;
				border:none;
				font-size:14px;
				font-family:arial;
			}
			input:focus {
				border:none;
				outline:none;
			}
		}
		td.hover {
			background:$line-row-hover;
			input {
				background:$line-row-hover;
			}
		}
		td.focus {
			background:$line-row-focus;
			input {
				background:$line-row-focus;
			}
		}
		td.line_num, td.line_qty {
			width:65px;
		}
		td.price_type {
			text-transform: capitalize;
		}
		td.line_u_price, td.line_t_price {
			width:80px;
		}
		td.line_num, td.price_type, td.line_qty, td.line_links {
			padding:0;
		}
	}
	tr.edit_true {
		td {
			border:1px solid $line-row-border;
		}
		td.line_t_price {
			background:$line-total-bg;
		}
	}
}

table.doc {border-spacing:2px; margin-top:25px;}

.hidden {
	display:none;
}

body {
	@include main_font;
	>* {
		width:1024px;
		margin:0 auto;
	}
	>*:after {
		@include self-clear;
	}
	p, ul {@include main_font;}
	.notification {
		font-size:$notification-font-size;
		padding:.5em;
		background:$notification-bg;
		border:1px solid $notification-brdr;
		color:$notification-clr;
	}
	#header {
		ul.login_links {
			margin:5px 0 0 0;
			padding:0;
			list-style:none;
			li {
				float:right;
				margin-right:30px;
				font-size:$login-links-font-size;
				a {
					font-size:12px;
				}
			}
		}
		ul.login_links:after {
			@include self-clear;
		}
		#logo {
			float: left;
			margin-left: 30px;
			margin-top:0;
			margin-bottom:21px;
			a {
				@include logo (100);
			}
		}
		.trial {
			@include bgimage (url('/assets/free-trial.gif') no-repeat, 110px, 196px);
			float: right;
			margin-right: 30px;
			margin-top: 5px;
		}
	}
	#content {
		dl.tabs {
			dd {
				a:hover {
					background-color:$tab-bg-hover;
					color:$tab-color;
				}
				a.active:hover {
					background-color:$tab-bg-active;
				}
			}
		}
		p {font-size:$small;}
	}
	#footer {
		font-size:$footer-font-size;
		p {
			float:right;
			span {
				margin-top: 6px;
				display: block;
				float: left;
			}
			a.logo {
				@include bgimage (url('/assets/26twelve-logo.jpg') no-repeat, 33px, 84px);
				float: right;
				margin-left: 5px;
			}
		}
	}
}

body.site #content {
	background: none repeat scroll 0 0 $body-content-bg;
	.column {
		width: 67%;
		float: right;
		h3 {
			font-size:256%;
			font-weight: normal;
			width: 85%;
			margin-top:41px;
			margin-bottom:41px;
			em {
				color: $green;
				font-style: normal;
				background: white;
				border: 1px black solid;
			}
		}
		p {
			font-weight:bold;
			font-size:100%;
		}
		ul {
			font-weight:bold;
			font-size:100%;
			list-style:disc outside none;
			padding-left:40px;
			li {
				margin-bottom:0;
			}
		}
	}
	.sidebar {
		width: 33%;
		float: left;
		img.calculator {
			margin-left: 20px;
			margin-top: 10px;
		}
		a.demo {
			width: 287px;
			display: block;
			height: 255px;
			margin: 10px 0 15px 20px;
		}
	}
}