- if @inner_navigation
	%dl{:class => 'tabs'}
		%dd{:class => @section_name == "accounts" ? "active" : ""}= link_to 'Dashboard', site_url, :class => @section_name == "accounts" ? "active" : ""
		- if signed_in_client.is_account_master
			%dd{:class => @section_name == "clients" ? "active" : ""}= link_to 'Clients', clients_path, :class => @section_name == "clients" ? "active" : ""
		%dd{:class => @section_name == "estimates" ? "active" : ""}= link_to 'Estimates', estimates_path, :class => @section_name == "estimates" ? "active" : ""
		%dd{:class => @section_name == "invoices" ? "active" : ""}= link_to 'Invoices', invoices_path, :class => @section_name == "invoices" ? "active" : ""