
- if (params[:action]) == 'new' || (params[:action]) == 'create'
	= f.hidden_field :is_account_master, :value => true
	= f.hidden_field :name, :value => @unique_account_master_name

- if (params[:action]) == 'new' || (params[:action]) == 'create'
	.user_fields
		= f.fields_for :users do |builder|
			= render 'user_fields', :f => builder
