/ .field
/ 	= f.text_field :first_name, :placeholder => "First Name", :class => 'five columns'
/ 	= f.text_field :last_name, :placeholder => "Last Name", :class => 'six columns'
.field
	= f.text_field :email, :placeholder => "Email Address", :class => ''

.field
	= f.password_field :password, :placeholder => "Password", :class => ''

.field
	= f.password_field :password_confirmation, :placeholder => "Confirm Password", :class => ''
