%h3 Account Directory

.row
	%table{:class => 'account list large-9 columns'}
		%thead
			%tr
				%th.col Name
				%th.col Subdomain

		%tbody
			- @accounts.each do |account|
				%tr
					%td.desc= link_to account.name, site_url(:subdomain => account.subdomain)
					%td.desc= account.subdomain

.row= link_to 'New account »', new_account_path, :class => 'medium radius button'